.blogPostContainer{
  width:70%;
}

.blogHeader{
  text-align: center;
}

.blogPost{
  width: 70%;
  background: #fff;
}
.postTitle{
  letter-spacing:0.5px;
  text-transform: capitalize;
  font-size:30px;
  font-weight: 400;
  margin: 0;
}

.postedBy{
  color: #6c6c6c;
  font-size: 15px;
  font-style: italic;
  padding: 10px 0;
  display: block;
}

.postImageContainer{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.postImageContainer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 50%;
}

.postContent{
  margin:10px auto;
  padding: 10px;
  max-width: 680px;
}

.postContent h3{
  font-weight:400;
  color: #333;
}

.postContent p{
  font-size:18px;
  color:#3b3b3b;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 1px;
  padding-bottom: 20px;
  text-justify: inter-character;
}