body{
  background: #e9eaed;
  font-family: 'Oswald', sans-serif;
}

.App{
  max-width: 90%;
  margin: 0 auto;
}

.card{
  background: #fff;
  width: 100%;
}

.container{
  display:flex;
  justify-content: space-between;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color:#333;
}

/*Recent Posts */
.postImageWrapper {
  height: 450px;
  overflow: hidden;
}

.postImageWrapper img{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.search-test, .search {
  display: none;
}

.main .recentPost {
  max-width: 680px;
  margin: auto;
}
.main .recentPost span{
  font-size: 1.2em;
}

/*             */
.main {
  width: 70%;
  text-align: center;
}

.postImage {
  max-width: 100%;
}

.main h3{
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

.sidebarContainer{
  width: 27%;
  background: #fff; 
}

.cardHeader{
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: 2px;
  color: #333;
}

.profileImageContainer{
  width:100%;
  box-sizing: border-box;

}

.profileImageContainer img{
  max-width: 100%;
  max-height: 100%;
  margin: 20px 0;

}

.personalBio{
  font-size: 14px;
  color: #565673;
  font-weight: 300;
}
.recentPost{
  border-bottom:1px solid #eee;
  margin-bottom: 10px;
}
.sidebarContainer .recentPost h3{
  font-weight: 500;
  color: #6c6c6c;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 0;
}

.recentPost span{
  color: #6c6c6c;
  font-size: 10px;
  font-weight: 400;

}

.recentPosts{
  padding: 20px 0;
}

/*Home Styles */
.galleryPost{
  display: flex;
  justify-content: space-between;
}

.mainImageWrapper{
  width: 100%;
  height: 450px;
}

.mainImageWrapper img{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.sideImageWrapper div{
  width: 100%;
  height: 450px;
}

.sideImageWrapper div img{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* contact styles */
.contact{
  font-size: 24px;
  margin: 2em;
  text-align: center;
  text-decoration: none;
  max-width: 100%;
}

/* Blogpost styles */
.blogPostContainer{
  width:70%;
}

.blogHeader{
  text-align: center;
}

.blogPost{
  width: 70%;
  background: #fff;
}
.postTitle{
  letter-spacing:0.5px;
  text-transform: capitalize;
  font-size:30px;
  font-weight: 400;
  margin: 0;
}

.postedBy{
  color: #6c6c6c;
  font-size: 15px;
  font-style: italic;
  padding: 10px 0;
  display: block;
}

.postImageContainer{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.postImageContainer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 50%;
}

.postContent{
  margin:10px auto;
  padding: 10px;
  max-width: 680px;
}

.postContent h3{
  font-weight:400;
  color: #333;
}

.postContent p, .slides{
  font-size:18px;
  color:#3b3b3b;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 1px;
  text-justify: inter-character;
}

.slides a{
  text-decoration: palevioletred;
  color: palevioletred;
}

@media (max-width: 767px) {
  .blogPost {
    width: 100%;
  }
}

/* Small Screen Styles */
@media(max-width: 767px) {

  .App {
    width: 100%;
  }

  .container {
    display: block;
  }

  .main {
    width: 100%;
  }

  .container, .container div, .main, .sidebarContainer{
    width: 100%;
    float: left;
  }
}
